.topline{
    min-height: 3px;
}

.header-1{
    min-height: 780px; 
}

.header-1 a{
    text-decoration: none;
    color:#333;
}

.profile-img{
    height: 285px; width: 275px;
}

.bio{
    min-height: 400px;
    background: rgb(29,28,28);
    background: linear-gradient(180deg, rgba(29,28,28,1) 0%, rgba(25,24,24,1) 35%, rgba(0,0,0,1) 100%);
    padding-top: 20px;
}
